@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    body {
        @apply bg-off-white dark:bg-off-black;
        @apply transition-colors duration-300;
    }

    html.lenis {
        height: auto;
    }

    .lenis.lenis-smooth {
        scroll-behavior: auto !important;
    }

    .lenis.lenis-smooth [data-lenis-prevent] {
        overscroll-behavior: contain;
    }

    .lenis.lenis-stopped {
        overflow: hidden;
    }

    .lenis.lenis-scrolling iframe {
        pointer-events: none;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        @apply font-display;
    }

    p,
    span,
    a,
    li {
        @apply font-body;
    }

    span.menu-link-text {
        text-shadow: 0px 1.2em 0px black;
    }
}
